{% extends 'AppPfinalcoder/home.html' %}
{% block head %}
    <title>BAKERY</title>
{% endblock head %}


{% block body %}
    <h1>Bakery</h1> <a href={% url 'Create_bakery'%}>Create customer bakery</a>

    <form action={% url 'Bakery' %} method="GET">
        <input typ="text" name="order" placeholder=" Customer order"/>
        <input type ="submit" value="Search"/>
    </form>

    <ul>
    {% if bakery %}
        {% for bakery in bakery %}
            <li>
                <a href={% url 'detailbakery' bakery.id %}>{{bakery}}</a>
               <p> <a href={% url 'Create_bakery' bakery.id %}>Edit</a>
                    <a href={% url 'Remove_bakery' bakery.id %}>Remove</a>  </p>
            </li>
        {% endfor %}
    {% elif error%}
        <h3>{{error}}</h3>
    {% else %}
        <h3> Order don't exist</h3>
    {% endif %}
    </ul>


{% endblock body %}
