{% extends 'AppPfinalcoder/home.html' %}
{% block head %}
    <title>DESSERTS</title>
{% endblock head %}


{% block body %}
    <h1>Desserts</h1> <a href={% url 'Create_desserts'%}>Create customer desserts</a>

    <form action={% url 'Desserts' %} method="GET">
        <input typ="text" name="order" placeholder=" Customer order"/>
        <input type ="submit" value="Search"/>
    </form>

    <ul>
    {% if desserts %}
        {% for dessert in desserts %}
            <li>
                <a href={% url 'detaildessert' dessert.id %}>{{dessert}}</a>
                <p> <a href={% url 'Create_desserts' dessert.id %}>Edit</a>
                   <a href={% url 'Remove_desserts' dessert.id %}>Remove</a>  </p>
            </li>
        {% endfor %}
    {% elif error%}
        <h3>{{error}}</h3>
    {% else %}
        <h3> Order don't exist</h3>
    {% endif %}
    </ul>

    
{% endblock body %}