<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>LOGIN</title>
</head> -->
{% extends 'AppPfinalcoder/home.html' %}

{% block head %}
    <title>LOGIN</title>
{% endblock head %}

{% block body %}
    {% if error %}
        <h3>{{message}}</h3>
    {% endif %}
    
    
    <form action ='' method="POST">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type='submit' value="Send">

    </form>


{% endblock body %}


</html>