<html>
{% extends 'AppPfinalcoder/home.html' %}

{% block head %}
    <title>PRICES</title>
{% endblock head %}


{% block body %}
    <h2>Prices</h2>
    <em><b>
    <p>All our products are gluten free</p>
        <ul>
            <p>Chocolate cake 50$</p>
            <p>Cake traditional 45$</p>
            <p>Special chocolate cake 90$</p>
            <p>Wedding Cake  150$</p>
            <p>Lemon pie 30$</p>
            <p>Muffin 25$</p>
            <p>Bread 10$</p>
            <p>Special bread 15$</p>
            <p>Croisant 8$</p>
            <p>Mixed 65$</p>
        </ul>
    </b></em>

{% endblock body %}
  

